.container_menu {
    display: flex;
    gap: 1.25rem;
}

.botao_register {
    padding: 4px 24px;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    border: 1.5px solid var(--cor-primaria);
    color: var(--cor-primaria);
    border-radius: 16px;
    cursor: pointer;
    font-family: var(--fonte-texto);
}

.botao_login {
    padding: 4px 24px;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--cor-primaria);
    border: 1.5px solid var(--cor-primaria);
    color: white;
    border-radius: 16px;
    cursor: pointer;
    font-family: var(--fonte-texto);
}

ul {
    width: 60%;
    margin: auto;
    margin-top: 5.62rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

li {
    width: 12.5rem;
    height: 17rem;
    box-shadow: 0px 0px 5px var(--borda-card);
    border-radius: 4px;
    border-color: #fff;

}


li>img {
    width: 100%;
    height: 10rem;
    border-radius: 4px 4px 0 0;
}

li>h3 {
    color: var(--cor-primaria);
    padding: 0.625rem;
    font-size: 1.5rem;
}

li>p {
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--cinza-normal);
    padding-left: 0.625rem;
}

footer {
    width: 100%;
    height: 3rem;
    text-align: center;
    padding-top: 0.938rem;
    background-color: var(--footer-cor-primaria);
    margin-top: 3.75rem;
    border-top: 1px solid var(--cor-primaria);
    border-bottom: 1px solid var(--cor-primaria);
}

footer>p {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--cor-primaria);
}

@media(max-width: 1078px){
    #selecionar_especie {
        width: 180px;
    }

    ul {
        gap: 15px;
    }
}

@media(max-width: 746px) {
    #selecionar_especie {
        width: 150px;
        font-size: 10px;
    }

    li {
        width: 150px;
    }

    li>h3 {
        font-size: 16px;
    }

    li>p {
        font-size: 10px;
    }

    .botao_me_adota {
        width: 75px;
        font-size: 10px;
    }

}

@media(max-width: 561px) {
    ul {
        gap: 20px;
    }
}

@media(max-width: 533px){
    li {
        width: 270px;
        height: 160px;
        display: flex;
    }

    li> img {
        width: 50%;
    }

    li>h3 {
        width: 110px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        
    }

    li>p {
        width: 110px;
        height: 21px;
        margin-top: 55px;
        margin-left: -95px;
        padding: 0;
    }
}