
.toastCadastro{
    display: none;
    width: 320px;
    height: 190px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    flex-direction: column;
    position: absolute;
    top: 70%;
    right: 5%;
    animation: modalAbrir 1.5s ease;
    border-radius: 16px;
}


.toastCadastro img{
    width: 70px;
    height: 70px;
}

.area-ir-login{
    margin-top: 15px;
}

.area-ir-login button{
    border: none;
    background-color: transparent;
    color: var(--cor-primaria);
    font-size: 22px;
    text-align: center;

}

.area-ir-login button:hover{
    text-decoration: underline;
}

.area-ir-login button span{
    color: black;
    font-size: 19px;
}

.toast-aparecer{
    display: flex;
}


@keyframes modalAbrir{
    0%{
        opacity: 0;
        transform: translateY(-50%);
        
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        
        }
}


